<html>
<head>
  <title>Daily Journal</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <%- include('partials/header'); -%>
    <h1>Select the Test you Want to do</h1>
   <div class='container'>
       <div class="Jumbotron"><a href="/pH" class="btn btn-info btn-lg" role="button">pH</a></div>
       <div class="Jumbotron"><a href="/N2" class="btn btn-info btn-lg" role="button"> Nitrogen</a></div>
        <div class="Jumbotron"><a href="/Potassium" class="btn btn-info btn-lg" role="button"> Pottasium</a></div>
       <div class="Jumbotron"><a href="/Phosporous" class="btn btn-info btn-lg" role="button">Phosphorous</a></div>
   </div>
    </body>
    </html>
