<html>
<head>
  <title>Daily Journal</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <%- include('partials/header'); -%>
    <h1>Nitrogen</h1>
   <div class='Jumbotron'>
       <p>Now We need to Measure the Nitrogen.
       </p>
       <p>1. First add the chemical in the N2 capsules to the Testube.</p>
       <p>2. then add the soil solution to the test tube and shake well. Wait for 5 mins.</p>
       <p>3. Now click on the test button to get the value of ph and hold the Testube near Colour Sensor.</p>
       <form action='/N2Result' method="POST">
        <button type="submit" >Check the Nitrogen</button>
        </form>
   </div>
    </body>
    </html>
